<div class="alert alert-secondary" style="margin-top: 5%;" role="alert">
  <i class="material-icons">update</i>
  Update Specific Process Line (For Testing)
</div>
<form>
  <div class="row" style="margin-top: 3%;">
    <div class="col">
      <div class="form-group">
        <label for="lotNumber">Lot. Number</label>
        <input type="number" class="form-control" id="lotNumber" [(ngModel)]="lotNumber" [ngModelOptions]="{standalone: true}" aria-describedby="lotNo" placeholder="Enter Existed Lot. Number">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="component">Component Name</label>
        <input type="text" class="form-control" id="component" [(ngModel)]="component" [ngModelOptions]="{standalone: true}" placeholder="Enter Update Component Name">
      </div>
      <div class="form-group">
        <label for="containerID">Container ID</label>
        <input type="text" class="form-control" id="containerID" [(ngModel)]="containerID" [ngModelOptions]="{standalone: true}" aria-describedby="containerID" placeholder="Enter Update Container ID">
      </div>
      <div class="form-group">
        <label for="newState">Update State</label>
        <select class="form-control" [(ngModel)]="newState" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let state of keys(stateOptions)" [value]="stateOptions[state]">{{state}}</option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}" aria-describedby="weight" placeholder="Enter Update Weight (g)">
      </div>
      <div class="form-group">
        <label for="temperature">Temperature</label>
        <input type="number" class="form-control" id="temperature" [(ngModel)]="temperature" [ngModelOptions]="{standalone: true}" aria-describedby="temperature" placeholder="Enter Update Temperature (C)">
      </div>
      <div class="form-group">
        <label for="expectedProduct">Expected Final Product</label>
        <input type="text" class="form-control" id="expectedProduct" [(ngModel)]="expectedProduct" [ngModelOptions]="{standalone: true}" aria-describedby="expectedProduct" placeholder="Enter Expected Final Product Name">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="updateProcessline()">Submit</button>
    </div>
  </div>

</form>