<button class="btn" [matMenuTriggerFor]="menu">
  <mat-icon style="font-size:40px;">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>dashboard</mat-icon>
    <a routerLink="/dashboard" queryParamsHandling="merge">Dashboard</a>
  </button>
  <button mat-menu-item *ngIf="processView" [matMenuTriggerFor]="process">
    <mat-icon>usb</mat-icon>
    <a routerLink="/process" queryParamsHandling="merge">Process Management</a>
  </button>
  <button mat-menu-item *ngIf="productView">
    <mat-icon>widgets</mat-icon>
    <a routerLink="/product" queryParamsHandling="merge">Product Management</a>
  </button>
  <button mat-menu-item *ngIf="logisticsView">
    <mat-icon>local_shipping</mat-icon>
    <a routerLink="/logistics" queryParamsHandling="merge">Logistics Management</a>
  </button>
  <button mat-menu-item *ngIf="procurementView">
    <mat-icon>attach_money</mat-icon>
    <a routerLink="/procurement" queryParamsHandling="merge">Procurement Management</a>
  </button>
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <a routerLink="/home">Home</a>
  </button>
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <a routerLink="/login">Login</a>
  </button>
</mat-menu>
  
<mat-menu #process="matMenu">
  <button mat-menu-item>
    <mat-icon>clear_all</mat-icon>
    <a routerLink="/process/all" queryParamsHandling="merge">Processes</a>
  </button>
</mat-menu>