<div class="bannerColor">
  <app-menu [user_name]="username"></app-menu>
</div>

<div style="margin: 0% 1%;">
  <div class="row">
    <div class="col">
      <h4 class="titleFontStyl">
        <i class="material-icons">view_list</i>
        Orders
      </h4>
      <hr>
    </div>
  </div>
</div>

<div style="margin: 2%;">
  <div class="row">
    <div class="col">
      <mat-tab-group dynamicHeight>
        <mat-tab label="All Orders">
          <div>
            <app-all-orders-table [allOrders]="datasource_all"></app-all-orders-table>
          </div>
        </mat-tab>
        <mat-tab label="Pending Orders">
          <div>
            <app-processing-orders-table [allOrders]="datasource_pend"></app-processing-orders-table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>