<div class="bannerColor">
  <app-menu [user_name]="username"></app-menu>

  <div class="container">

    <div class="row">
      <div class="col-2">
        <i class="material-icons" style="font-size: 150px; margin: 15% 0% 10% 0%; color:aliceblue;">account_circle</i>
      </div>
      <div class="col-4 bannerSubCol">
        <p>Name: {{username}}</p>
        <p>Role: {{role}}</p>

        <div class="row">
          <div class="col bannerSubColBorder" *ngIf="total_processes && processView">
            <p style="font-size: 30px;">{{total_processes}}</p>
            <p>Total Processes</p>
          </div>
          <div class="col bannerSubColBorder" *ngIf="total_products && productView">
            <p style="font-size: 30px;">{{total_products}}</p>
            <p>Total Products</p>
          </div>
          <div class="col" *ngIf="total_orders && procurementView">
            <p style="font-size: 30px;">{{total_orders}}</p>
            <p>Total Orders</p>
          </div>
        </div>
      </div>
      <div class="col-6 bannerSubCol">
        <p><i class="material-icons" style="font-size: 40px;">email</i> Notification</p>
        <p><i class="material-icons" style="font-size: 40px;">help</i> Help</p>
      </div>
    </div>

    <div class="row circleFont" style="margin-top: 5%; padding-bottom: 5%;">
      <div class="col" style="text-align: center;" *ngIf="processView">
        <div class="circle circleColor1">
          <a routerLink="/process" queryParamsHandling="merge"><i class="material-icons menuIcon">usb</i></a>
        </div>
        <p style="margin-top: 5%;">Process Management</p>
      </div>
      <div class="col" style="text-align: center;" *ngIf="productView">
        <div class="circle circleColor2">
          <a routerLink="/product" queryParamsHandling="merge"><i class="material-icons menuIcon">widgets</i></a>
        </div>
        <p style="margin-top: 5%;">Product Management</p>
      </div>
      <div class="col" style="text-align: center;" *ngIf="logisticsView">
        <div class="circle circleColor3">
          <a routerLink="/logistics" queryParamsHandling="merge"><i class="material-icons menuIcon">local_shipping</i></a>
        </div>
        <p style="margin-top: 5%;">Logistics Management</p>
      </div>
      <div class="col" style="text-align: center;" *ngIf="procurementView">
        <div class="circle circleColor4">
          <a routerLink="/procurement" queryParamsHandling="merge"><i class="material-icons menuIcon">attach_money</i></a>
        </div>
        <p style="margin-top: 5%;">Procurement Management</p>
      </div>
      <div class="col" style="text-align: center;">
        <div class="circle circleColor5">
          <a routerLink="/home"><i class="material-icons menuIcon">home</i></a>
        </div>
        <p style="margin-top: 5%;">Home</p>
      </div>
    </div>
    
  </div>

</div>