mat-form-field {
    margin-right: 12px;
}

.bannerColor {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.borderStyle {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5% 8% 0% 8%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.orderTitle {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: lightgrey;
  border-radius: 5px 5px 0px 0px;
  height: 70px;
  padding: 2% 0% 0% 3%;
  font-size: 20px;
  font-weight: bold;
}

.plainOrderTitle {
  color: rgb(68, 68, 68);
  border-radius: 5px 5px 0px 0px;
  height: 70px;
  padding: 5% 0% 0% 3%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.orderSubtitle {
  margin: 4% 3% 3% 3%;
  color: rgb(107, 106, 106);
}

.btnSign {
  background-color:#2C5364; 
  color: aliceblue;
  padding: 12px 42px 12px 42px;
}