<div class="bannerColor">
  <app-menu [user_name]="username"></app-menu>
</div>

<div style="margin: 3%;">
  <!-- <div class="row">
    <div class="col">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <button mat-flat-button class="btnAdd" data-toggle="modal" data-target="#addNewModal">
          <i class="material-icons">add_circle</i>
          Add New Process
        </button>
      </mat-button-toggle-group>
    </div>
  </div> -->

  <div style="margin: 3%;">
    <div class="row" style="margin-bottom:5%;">
      <div class="col">
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title class="titleFontStyl">Process</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <hr>

          <mat-card-content style="margin-top: 3%;">
            <div style="text-align: center;">

              <span class="circle">
                <i class="material-icons icon-style">tune</i>
                <i class="material-icons" style="float:right;">add_circle</i>
              </span>

              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-sm-8">
                    <p class="card-content-style">
                      You can create a new process detail manually here if you have permission for process creation.
                      To check your new process details, please go to 'Processes' -> 'All Process Lines'.
                      To follow history of this process, please search in 'Search Process History'.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </mat-card-content>
          <mat-card-actions style="text-align:center; margin-bottom: 3%;">
            <button mat-button class="btnAdd2" data-toggle="modal" data-target="#addNewModal">
              Create new process
              <i class="material-icons">add_circle</i>
            </button>
          </mat-card-actions>
        </mat-card>            
      </div>
    </div>

  <div class="row">
    <div class="col-sm">
      <h4 class="titleFontStyl">
        <i class="material-icons">donut_small</i>
        Analytics
      </h4>
      <hr>
      <app-weight-change></app-weight-change>
      <app-temp-change></app-temp-change>
    </div>

    <div class="col">
      <h4 class="titleFontStyl">
        <i class="material-icons">autorenew</i>
        Latest Process
      </h4>
      <hr>
      <app-details-card [process]="latestProcess"></app-details-card>
    </div>
  </div>
        
</div>

<!-- Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewModalLabel">
          <i class="material-icons">playlist_add</i>
          Add New Process
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-process></app-add-process>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>