<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8" style="margin: 3% 0% 0% 2%;">
  <!-- Order ID Column -->
  <ng-container matColumnDef="orderID">
    <th mat-header-cell *matHeaderCellDef> Order ID </th>
    <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
  </ng-container>

  <!-- Item Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Item Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productObj.name}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.productObj.price}} </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentObj.totalAmount}} </td>
  </ng-container>

  <!-- Current State Column -->
  <ng-container matColumnDef="currentState">
    <th mat-header-cell *matHeaderCellDef> Current State </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.currentState">
      <div *ngSwitchCase="'1'">Init</div>
      <div *ngSwitchCase="'2'">Accepted</div>
      <div *ngSwitchCase="'3'">Abandoned</div>
      <div *ngSwitchCase="'4'">Pending Receiver</div>
      <div *ngSwitchCase="'5'">Pending Orderer</div>
      <div *ngSwitchCase="'6'">Processing</div>
      <div *ngSwitchCase="'7'">Ship Out</div>
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <!-- <td mat-cell *matCellDef="let element"> {{element.type}} </td> -->
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.type">
      <div *ngSwitchCase="'1'">Standard</div>
      <div *ngSwitchCase="'2'">Customized</div>
    </td>
  </ng-container>

  <!-- Update Btn Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update Status </th>
    <td mat-cell *matCellDef="let element">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <button mat-flat-button class="btnAdd" (click)="changeStatus(element.orderID)">
          <i class="material-icons">publish</i>
          Update
        </button>
      </mat-button-toggle-group>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-shipment-product-detail 
            [productId]="element.productObj.productID"
            [weight]="element.productObj.weight"
            [receiver]="element.receiver"
            [orderer]="element.orderer"
            [createdAt]="element.createdTime">
          </app-shipment-product-detail>
          
          <app-shipment-spec-detail 
            [detail]="element.assuranceObj.specs"
            [method]="element.assuranceObj.methods"
            [operator]="element.assuranceObj.qualifiedOperator"
            [leadtime]="element.assuranceObj.leadTime">
          </app-shipment-spec-detail>
          
          <app-shipment-pay-detail 
            [initPay]="element.paymentObj.initPayment"
            [method]="element.paymentObj.payMethod">
          </app-shipment-pay-detail>
          
          <app-shipment-ship-detail 
            [tradeTerm]="element.shippingObj.tradeTerm"
            [method]="element.shippingObj.shipMethod"
            [address]="element.shippingObj.address"
            [dispatchDate]="element.shippingObj.dispatchDate">
          </app-shipment-ship-detail>
          
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
