<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <!-- Order ID Column -->
  <ng-container matColumnDef="orderID">
    <th mat-header-cell *matHeaderCellDef> Order ID </th>
    <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
  </ng-container>

  <!-- Item Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Item Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productObj.name}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.productObj.price}} </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentObj.totalAmount}} </td>
  </ng-container>

  <!-- Current State Column -->
  <ng-container matColumnDef="currentState">
    <th mat-header-cell *matHeaderCellDef> Current State </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.currentState">
      <div *ngSwitchCase="'1'">Init</div>
      <div *ngSwitchCase="'2'">Accepted</div>
      <div *ngSwitchCase="'3'">Abandoned</div>
      <div *ngSwitchCase="'4'">Pending Receiver</div>
      <div *ngSwitchCase="'5'">Pending Orderer</div>
      <div *ngSwitchCase="'6'">Processing</div>
      <div *ngSwitchCase="'7'">Ship Out</div>
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <!-- <td mat-cell *matCellDef="let element"> {{element.type}} </td> -->
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.type">
      <div *ngSwitchCase="'1'">Standard</div>
      <div *ngSwitchCase="'2'">Customized</div>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-productID"> Product ID: {{element.productObj.productID}} </div>
            <div class="example-element-weight"> Weight: {{element.productObj.weight}} </div>
            <div class="example-element-receiver"> Receiver: {{element.receiver}} </div>
            <div class="example-element-orderer"> Orderer: {{element.orderer}} </div>
            <div class="example-element-createdTime"> Created At: {{toFormatDate(element.createdTime)}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-specs"> Spec Details: {{element.assuranceObj.specs}} </div>
            <div class="example-element-methods"> Specify Methods: {{element.assuranceObj.methods}} </div>
            <div class="example-element-qualifiedOperator"> Specify Operators: {{element.assuranceObj.qualifiedOperator}} </div>
            <div class="example-element-leadTime"> Lead Time: {{element.assuranceObj.leadTime}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-initPayment"> Initial Payment: {{element.paymentObj.initPayment}} </div>
            <div class="example-element-payMethod"> Payment Method: {{element.paymentObj.payMethod}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-tradeTerm"> Trade Term: {{element.shippingObj.tradeTerm}} </div>
            <div class="example-element-shipMethod"> Shipping Method: {{element.shippingObj.shipMethod}} </div>
            <div class="example-element-address"> Address: {{element.shippingObj.address}} </div>
            <div class="example-element-dispatchDate"> Dispatch Date: {{element.shippingObj.dispatchDate}} </div>
          </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
