<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="example-element-productID"> Product ID: {{element.productID}} </div>
            <div class="example-element-weight"> Weight: {{element.weight}} </div>
            <div class="example-element-receiver"> Receiver: {{element.receiver}} </div>
            <div class="example-element-orderer"> Orderer: {{element.orderer}} </div>
            <div class="example-element-createdTime"> Created At: {{element.createdTime}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-specs"> Spec Details: {{element.specs}} </div>
            <div class="example-element-methods"> Specify Methods: {{element.methods}} </div>
            <div class="example-element-qualifiedOperator"> Specify Operators: {{element.qualifiedOperator}} </div>
            <div class="example-element-leadTime"> Lead Time: {{element.leadTime}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-initPayment"> Initial Payment: {{element.initPayment}} </div>
            <div class="example-element-payMethod"> Payment Method: {{element.payMethod}} </div>
          </div>
          <div class="example-element-diagram">
            <div class="example-element-tradeTerm"> Trade Term: {{element.tradeTerm}} </div>
            <div class="example-element-shipMethod"> Shipping Method: {{element.shipMethod}} </div>
            <div class="example-element-address"> Address: {{element.address}} </div>
            <div class="example-element-dispatchDate"> Dispatch Date: {{element.dispatchDate}} </div>
          </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
