<div class="row" style="margin-top:5%;">
  <div class="col">
    <mat-card class="example-card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="titleFontStyl">Type Stat.</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header> -->

      <!-- <hr> -->

      <mat-card-content style="margin-top: 3%;">
        <mat-list>
          <h3 mat-subheader>Below are raw materials available to be used.</h3>
          <mat-list-item *ngFor="let product of availRawMaterials">
            <mat-icon mat-list-icon style="color: #2C5364;">bubble_chart</mat-icon>
            <h4 mat-line>{{product.name}}, owned by {{product.owner}}</h4>
            <p mat-line> {{toFormatDate(product.createdTime)}} </p>
            <div>
              <span mat-line> 
                <button mat-button class="btnAdd" data-toggle="modal" data-target="#viewModal2" (click)="setSelectedProduct(product)"> View </button>
              </span>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Below are raw materials already used.</h3>
          <mat-list-item *ngFor="let product of usedRawMaterials">
            <mat-icon mat-list-icon style="color: #2C5364;">bubble_chart</mat-icon>
            <h4 mat-line>{{product.name}}</h4>
            <p mat-line> {{toFormatDate(product.createdTime)}} </p>
            <div>
              <span mat-line> 
                <button mat-button class="btnAdd" data-toggle="modal" data-target="#viewModal2" (click)="setSelectedProduct(product)"> View </button>
              </span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions style="text-align:center; margin-bottom: 3%;">
        <!-- <button mat-button class="btnAdd2" data-toggle="modal" data-target="#addNewModal">
          Create new process
          <i class="material-icons">add_circle</i>
        </button> -->
      </mat-card-actions>
    </mat-card>            
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="viewModal2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModal2Label">
          <i class="material-icons">class</i>
          View Details
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-raw-material-details [product]="selectedRawMaterial" [username]="username"></app-raw-material-details>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>