<form>
  <div class="row" style="margin-top: 3%;">
    <div class="col">
      <div class="form-group">
        <label for="productID">Product ID</label>
        <input type="number" class="form-control" id="productID" [(ngModel)]="productID" [ngModelOptions]="{standalone: true}" aria-describedby="productId" placeholder="Enter Product ID">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Enter New Product Name">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let type of keys(typeOptions)" [value]="typeOptions[type]">{{type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="from">From</label>
        <input type="text" class="form-control" id="from" [(ngModel)]="from" [ngModelOptions]="{standalone: true}" aria-describedby="from" placeholder="Enter Original Product Key">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="processline">Process Line</label>
        <input type="text" class="form-control" id="processline" [(ngModel)]="processline" [ngModelOptions]="{standalone: true}" aria-describedby="processline" placeholder="Enter Involved Process Line Key">
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}" aria-describedby="weight" placeholder="Enter Weight (g)">
      </div>
      <div class="form-group">
        <label for="supplier">Supplier</label>
        <input type="text" class="form-control" id="supplier" [(ngModel)]="supplier" [ngModelOptions]="{standalone: true}" aria-describedby="supplier" placeholder="Enter Supplier Name">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="addNewProduct()">Submit</button>
    </div>
  </div>

</form>