<form>
  <div class="row" style="margin-top: 3%; padding: 0% 3%;">
    <div class="col">
      <div class="form-group">
        <label for="lotNumber">Lot. Number</label>
        <input type="text" class="form-control" id="lotNumber" [(ngModel)]="lotNumber" [ngModelOptions]="{standalone: true}" aria-describedby="lotNo" placeholder="Enter New Lot. Number">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="component">Component Name</label>
        <input type="text" class="form-control" id="component" [(ngModel)]="component" [ngModelOptions]="{standalone: true}" placeholder="Enter New Component Name">
      </div>
      <div class="form-group">
        <label for="containerID">Container ID</label>
        <input type="text" class="form-control" id="containerID" [(ngModel)]="containerID" [ngModelOptions]="{standalone: true}" aria-describedby="containerID" placeholder="Enter Container ID">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}" aria-describedby="weight" placeholder="Enter Weight (g)">
      </div>
      <div class="form-group">
        <label for="temperature">Temperature</label>
        <input type="number" class="form-control" id="temperature" [(ngModel)]="temperature" [ngModelOptions]="{standalone: true}" aria-describedby="temperature" placeholder="Enter Temperature (C)">
      </div>
      <div class="form-group">
        <label for="expectedProduct">Expected Final Product</label>
        <input type="text" class="form-control" id="expectedProduct" [(ngModel)]="expectedProduct" [ngModelOptions]="{standalone: true}" aria-describedby="expectedProduct" placeholder="Enter Expected Final Product Name">
      </div>
    </div>

  </div>

  <div class="row" style="margin-top: 3%; margin-bottom: 5%; padding: 0% 3%;">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="addNewProcessline()">Submit</button>
    </div>
  </div>

</form>