<div class="alert alert-secondary" style="margin-top: 5%;" role="alert">
  <i class="material-icons">speaker_notes</i>
  Product History Records
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Product ID Column -->
    <ng-container matColumnDef="productID">
      <th mat-header-cell *matHeaderCellDef> Product ID </th>
      <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Supplier Column -->
    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef> Supplier </th>
      <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
    </ng-container>

    <!-- Owner Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Owner </th>
      <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
    </ng-container>

    <!-- Current State Column -->
    <ng-container matColumnDef="currentState">
      <th mat-header-cell *matHeaderCellDef> Current State </th>
      <td mat-cell *matCellDef="let element" [ngSwitch]="element.currentState">
        <div *ngSwitchCase="'1'">Init</div>
        <div *ngSwitchCase="'2'">Repackaging</div>
        <div *ngSwitchCase="'3'">Ready To Use</div>
        <div *ngSwitchCase="'4'">Processing</div>
        <div *ngSwitchCase="'5'">Ready To Order</div>
        <div *ngSwitchCase="'6'">Used</div>
        <div *ngSwitchCase="'7'">Sold Out</div>
        <div *ngSwitchCase="'8'">Pend Shipping</div>
        <div *ngSwitchCase="'9'">Ship Out</div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.type}} </td> -->
      <td mat-cell *matCellDef="let element" [ngSwitch]="element.type">
        <div *ngSwitchCase="'1'">Original</div>
        <div *ngSwitchCase="'2'">Raw Material</div>
        <div *ngSwitchCase="'3'">Final</div>
      </td>
    </ng-container>

    <!-- From Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
  