<table *ngIf="newData" mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <h5>Details: </h5>
          <div class="example-element-currentState" [ngSwitch]="element.currentState">
            <div *ngSwitchCase="'1'"><i class="material-icons" style="color: #565656;">all_inclusive</i>Current State: Init</div>
            <div *ngSwitchCase="'2'"><i class="material-icons" style="color: #565656;">all_inclusive</i>Current State: Feeding</div>
            <div *ngSwitchCase="'3'"><i class="material-icons" style="color: #565656;">all_inclusive</i>Current State: Reacting</div>
            <div *ngSwitchCase="'4'"><i class="material-icons" style="color: #565656;">all_inclusive</i>Current State: Transit</div>
            <div *ngSwitchCase="'5'"><i class="material-icons" style="color: #565656;">all_inclusive</i>Current State: End</div>
          </div>
          <div class="example-element-temperature">
            <i class="material-icons" style="color: #565656;">ac_unit</i>
            Temperature: {{element.temperature}} 
          </div>
          <div class="example-element-weight"> 
            <i class="material-icons" style="color: #565656;">widgets</i>
            Weight: {{element.weight}} 
          </div>
          <div class="example-element-manufacturer"> 
            <i class="material-icons" style="color: #565656;">supervisor_account</i>
            Manufacturer: {{element.manufacturer}} 
          </div>
          <div class="example-element-createdTime"> 
            <i class="material-icons" style="color: #565656;">query_builder</i>
            Created Time: {{toFormatDate(element.createdTime)}} 
          </div>
        </div>
        <div class="example-element-description">
          <i class="material-icons">vpn_key</i>
          Ledger Key: 
          <span class="example-element-description-attribution"> -- {{element.key}} </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
