table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 50%;
    border: 1px solid #e0e0e0;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 60%;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .example-card {
    max-width: 400px;
    margin: 2% 1%;
  }
  
  .example-header-image {
    background-image: url('../../../assets/user-male.png');
    background-size: cover;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    background: rgb(33, 158, 127);
    border-radius: 50%;
    float: left;
  }
  .box {
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
  }
  .bounce-2 {
      animation-name: bounce-2;
      animation-timing-function: ease;
  }
  @keyframes bounce-2 {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-20px); }
      100% { transform: translateY(0); }
  }
  .detailFontStyl {
    margin-left: 30%;
    font-weight:bold;
    color: dimgray;
  }